@charset "UTF-8";
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.whitecenter{
  background-color: #eff3f4;
  width: 900px;
  margin: 0 auto;
  padding: 20px;
}
.back{
  background-color: #3274ae;
  width: 230px;
  margin-left: 20px;
  padding: 20px;
  float: left;
}
.back:first-child {
  margin-left: 0;
}
.maintop {
  background-color: #eaf4ff;
  padding: 20px;
  border:  10px solid #022336;
}
  /* line-height: 16px; */

/* 回答はここに書いてね */

/* 回答はここに書いてね */
