@charset "UTF-8";
.table{
  background-color: #eff3f4;
  margin-left:auto;
  margin-right:auto;
  border-spacing: 0 20px;
  width: 740px;
}
.q4{
  display: table;
  table-layout:auto;
  width: 700px;
  margin-left:auto;margin-right:auto;

}
.table_p{
  display: table-cell;
  background: #fdc8b8;
  vertical-align:middle;
  text-align: center;
  width: 100px;
  height: 40px;
}

.table_center{
  display: table-cell;
  background: #e0abd9;
  text-align: center;
  vertical-align:middle;
}
.table_b{
  display: table-cell;
  background: #b6d8ed;
  text-align: center;
  vertical-align:middle;
  width: 100px;
}

.table_y{
  display: table-cell;
  background: #e5d32e;
  text-align: center;
  vertical-align:middle;
  height: 40px;
}

.table_r{
  display: table-cell;
  background: #ec8f9a;
  text-align: center;
  vertical-align:middle;
}
.table_g{
  display: table-cell;
  background: #8fdcad;
  text-align: center;
  vertical-align:middle;
  width: 500px;
}
