@charset "UTF-8";
.q5 {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #ECF1F2;
}
.q5__box {
  position: absolute;
  width: 100px;
  font-weight: bold;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
}
.q5__box.in__1 {
  z-index: 1;
  top: 40px;
  left: 200px;
  background-color: #FFEFD3;
}
.q5__box.in__2 {
  z-index: 2;
  top: 120px;
  right: 120px;
  background-color: #7084DE;
}
.q5__box.in__3 {
  z-index: 3;
  top: 200px;
  right: 40px;
  background-color: #D0ECEA;
}
.q5__box.in__4 {
  z-index: 4;
  top: 280px;
  right: 120px;
  background-color: #8B7A5E;
}
.q5__box.in__5 {
  z-index: 5;
  top: 360px;
  left: 200px;
  background-color: #9FD6D2;
}
.q5__box.in__6 {
  z-index: 6;
  top: 280px;
  left: 120px;
  background-color: #FFFEE4;
}
.q5__box.in__7 {
  z-index: 7;
  top: 200px;
  left: 40px;
  background-color: #DEAE70;
}
.q5__box.in__8 {
  z-index: 8;
  top: 120px;
  left: 120px;
  background-color: #DE70CF;
}
.q5__box.in__8:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #FFEFD3;
  content: "";
}
.q5__box.in__9 {
  z-index: 10;
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #2B69A3;
}
