@charset "UTF-8";

.q3__table {
  width: 100%;
  border: 1px solid #dedede;
  table-layout: fixed;

}
.q3__table td,.q3__table th{
  padding: 10px;
  border: 1px solid #dedede;
  vertical-align: middle;
}
.q3__table th {
  background-color: #24a;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.q3__table td {
  line-height: 22px;
  text-align: center;
}
.q3__table > tbody > tr:nth-child(even) {
  background-color: #ECF1F2;
}
.q3__table > tbody > tr:last-child {
  border-top: 2px dashed #000;
}

  /* th:first-child{
    font-size:18px;
    line-height: 22px;
  } */


/* 回答はここに書いてね */
