@charset "UTF-8";

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
.q8--btn .q8__btn:first-of-type {
  margin-left: 0;
}
.q8__btn {
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
}
.q8__btn--small {
  padding: 0 15px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 26px;
}
.q8__btn--middle {
  padding: 0 20px;
  border-radius: 5px;
  font-size: 20px;
  line-height: 32px;
}
.q8__btn--large {
  padding: 0 25px;
  border-radius: 7px;
  font-size: 24px;
  line-height: 38px;
}
.q8__btn--shadow {
  background-color: #fff;
  color: #222;
}
.q8__btn--common{
  background-color: #00BCD4;
  color: #FFF;
}

.q8__btn--error {
    background-color: #FF4081;
    color: #FFF;
}
.q8__btn--disabled {
    background-color: #E5E5E5;
    color: #FFF;
    cursor: default;
}
.q8__btn.is--shadow {
    box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 4px rgba(0, 0, 0, .12);
}


/* .q8__title:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  content: "";
}
.q8__title__text {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  background-color: #ECF1F2;
  font-size: 24px;
  font-weight: bold;
} */



/* Q8.2 */


.q8__frame {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ECF1F2;
}
.q8__frame__text {
  position: relative;
  margin-bottom: 20px;
}
.q8__frame__text::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  content: "";
}
.q8__frame__text__title {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  background-color: #ECF1F2;
  font-size: 24px;
  font-weight: bold;
}
.q8__main {
  float: left;
  width: 300px;
}
.q8__main__tietle {
  margin-bottom: 20px;
}
.q8__main__tietle > li {
  margin-bottom: 20px;
}
..q8__main__tietle > li:first-child {
margin-top: 0;
}
.q8__main__tietle__name {
  float: left;
  width: 100px;
  line-height: 25px;
  text-align: right;
}
.q8__main__tietle__name .is-required {
  color: #F00;
}
.q8__main__tietle__text {
  float: right;
  width: 180px;
}
.q8__input--init {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.q8__input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}
.q8__input:focus {
  box-shadow: 0 0 7px #00BCD4;
}
.q8__radio {
  cursor: pointer;
}
.q8__radio__btn {
  display: none;
}
.q8__radio__text {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}
.q8__radio__text:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  content: '';
}
.q8__radio__btn:checked + .q8__radio__text:after {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background-color: #00BCD4;
  border-radius: 50%;
  content: '';
}

.q8__select {
  position: relative;
}
.q8__select::after {
  display: block;
  position: absolute;
  top: 4px;
  right: 10px;
  width: 8px;
  height: 8px;
  border-right: 2px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
  transform: rotate(45deg);
  content: "";
  pointer-events: none;
}
.q8__select__body {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  cursor: pointer;
}

.q8__checkbox {
  text-align: right;
}
.q8__checkbox__btn {
  display: none;
}
.q8__checkbox__text {
  position: relative;
  display: inline-block;
  padding-left: 24px;
}
.q8__checkbox__text::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: -9px;
  background-color: #fff;
  border: 1px solid #ccc;
  content: '';
}
.q8__checkbox__btn:checked + .q8__checkbox__text:after {
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -14px;
  width: 8px;
  height: 16px;
  border-right: 3px solid #00BCD4;
  border-bottom: 3px solid #00BCD4;
  transform: rotate(45deg);
  content: '';
}
.q8__main__bottan {
  text-align: right;
}
.q8__main__bottan__btn {
  padding: 0 10px;
  border-radius: 5px;
  background-color: #00BCD4;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
}
.q8__main__bottan__btn:active {
  background-color: #FFF;
  color: #00BCD4;
}
.q8__right {
  float: right;
  width: 380px;
}
.q8__right__text {
  width: 100%;
  height: 203px;
  padding: 10px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  box-sizing: border-box;
  resize: none;
}
.q8__right__text:focus {
  box-shadow: 0 0 7px #00BCD4;
}
